In [ ]:
numero = int(input('Digite um número inteiro: ')) #resto da divisão por 2, o resultado é sempre 0 ou 1.
if numero%2 : #se o resultado da operação for 1, cai no IF que diz que é ímpar,se for 0 vai pro ELSE que diz que é par.
    print("Número Ímpar")
else: 
    print("Número Par")

Digite um número inteiro: 2
Número Par

In [ ]:
# Pedindo as entradas
num1 = float( input("Digite o primeiro número: ") )
num2 = float( input("Digite o segundo número: ") )
num3 = float( input("Digite o terceiro número: ") )

# Cálculo da média
media = (num1 + num2 + num3) / 3

print("A média desses números é: ", media)

Digite o primeiro número: 10
Digite o segundo número: 10
Digite o terceiro número: 10
A média foi:  10.0

In [ ]:
#Vetor como entrada e print o primeiro e ultimo elemento
times = ["CAM", "Galo", "Atlético"]
print(times[0], ',', times[2])

In [ ]:
#Crie uma lista vazia
lista_vazia = []
#Adicione 5 elementos de uma lista de compras de supermercado
lista_inicial = ["ovo", "pão", "carne", "danoninho", "desodorante"]
#Remova o último elemento
lista_inicial.pop()
#Adicione mais 3 elementos
mais_itens = ["batata", "xuxu", "cenoura"]
nova_lista = lista_inicial + mais_itens
#Print apenas os dois primeiros elementos
print("Apenas os dois primeiros elementos: ", nova_lista[:2])
#Print apenas os 3 últimos elementos;
print("Apenas os três últimos elementos: ", nova_lista[4:7])

Apenas os dois primeiros elementos:  ['ovo', 'pão']
Apenas os três últimos elementos:  ['batata', 'xuxu', 'cenoura']

In [ ]:
#Crie um dicionário com 4 registros, onde o nome é a chave e a idade é o valor
nome_idade = {'Mateus': 25, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}
#Print todo o dicionário
print(nome_idade)
#Print a idade do Mateus
print(nome_idade["Mateus"])
#Adicione a chave Pedro com idade 27
nome_idade['Pedro'] = 27
#Print a idade de Pedro
print(nome_idade)
#Apague o registro Tamires
del nome_idade['Tamires']
#Print o tamanho do dicionário
print(len(nome_idade))

{'Mateus': 25, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}
25
{'Mateus': 25, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 27}
4

In [ ]:
inteiros = [1, 2, 3, 4, 5]
print("Tamanho:", len(inteiros))
print("Menor elemento:", min(inteiros))
print("Maior elemento:", max(inteiros))
print("Soma dos elementos:", sum(inteiros))
print("Média dos elementos:", sum(inteiros)/5)
print("Penúltimo elemento:", inteiros[3])

Tamanho: 5
Menor elemento: 1
Maior elemento: 5
Soma dos elementos: 15
Média dos elementos: 3.0
Penúltimo elemento: 4

In [ ]:
terminal = input("Informe uma palavra ou expressão: \n").upper().replace(' ', '')
invertida = terminal[::-1]
if terminal == invertida:
    print("É palíndromo")
else:
    print("Não é um palíndromo")

Informe uma palavra ou expressão:
teste
Não é um palíndromo

In [ ]:
import pandas as pd
import numpy as np
capitais = {
'Estado': {0: 'Acre', 1: 'Amapá', 2: 'Amazonas', 3: 'Pará', 4: 'Rondônia', 5: 'Roraima', 6: 'Tocantins',7:'Minas Gerais'},
'Sigla': {0: 'AC', 1: 'AP', 2: 'AM', 3: 'PA', 4: 'RO', 5: 'RR', 6: 'TO', 7:'MG'},
'População (milhoes)': {0: '0.8035', 1: '0.776', 2: '3.9', 3: '8,1', 4: '1.7', 5: '0.505', 6: '1,5', 7: np.nan}, 
'Capital': {0: 'Rio Branco', 1: 'Macapá', 2: 'Manaus', 3: 'Belém', 4: 'Porto Velho', 5: 'Boa Vista', 6: 'Palmas',7: 'Belo Horizonte'}}

In [ ]:
df = pd.DataFrame(capitais)
df

         Estado Sigla População (milhoes)         Capital
0          Acre    AC              0.8035      Rio Branco
1         Amapá    AP               0.776          Macapá
2      Amazonas    AM                 3.9          Manaus
3          Pará    PA                 8,1           Belém
4      Rondônia    RO                 1.7     Porto Velho
5       Roraima    RR               0.505       Boa Vista
6     Tocantins    TO                 1,5          Palmas
7  Minas Gerais    MG                 NaN  Belo Horizonte

a) Qual o formato do Dataframe (quantidade de linhas e colunas)?

In [ ]:
Linhas = df.shape[0] 
Colunas = df.shape[1] 
print("Linhas: " + str(Linhas)) 
print("Colunas: " + str(Colunas))

Linhas: 8
Colunas: 4

b) Qual é a Capital que possuí o menor número de habitantes?

In [58]:
import pandas as pd
import numpy as np
capitais = {
'Estado': {0: 'Acre', 1: 'Amapá', 2: 'Amazonas', 3: 'Pará', 4: 'Rondônia', 5: 'Roraima', 6: 'Tocantins',7:'Minas Gerais'},
'Sigla': {0: 'AC', 1: 'AP', 2: 'AM', 3: 'PA', 4: 'RO', 5: 'RR', 6: 'TO', 7:'MG'},
'População (milhoes)': {0: '0.8035', 1: '0.776', 2: '3.9', 3: '8,1', 4: '1.7', 5: '0.505', 6: '1,5', 7: np.nan}, 
'Capital': {0: 'Rio Branco', 1: 'Macapá', 2: 'Manaus', 3: 'Belém', 4: 'Porto Velho', 5: 'Boa Vista', 6: 'Palmas',7: 'Belo Horizonte'}}
df = pd.DataFrame(capitais)
df = df[df['População (milhoes)'].notna()]
minvalue_series = df['População (milhoes)'].min()
minvalue_series

'0.505'

c) Quais são as capitais que possuem população maior que 1000000 de habitantes?

In [32]:
import pandas as pd
import numpy as np
capitais = {
'Estado': {0: 'Acre', 1: 'Amapá', 2: 'Amazonas', 3: 'Pará', 4: 'Rondônia', 5: 'Roraima', 6: 'Tocantins',7:'Minas Gerais'},
'Sigla': {0: 'AC', 1: 'AP', 2: 'AM', 3: 'PA', 4: 'RO', 5: 'RR', 6: 'TO', 7:'MG'},
'População (milhoes)': {0: '0.8035', 1: '0.776', 2: '3.9', 3: '8,1', 4: '1.7', 5: '0.505', 6: '1,5', 7: np.nan}, 
'Capital': {0: 'Rio Branco', 1: 'Macapá', 2: 'Manaus', 3: 'Belém', 4: 'Porto Velho', 5: 'Boa Vista', 6: 'Palmas',7: 'Belo Horizonte'}}
df = pd.DataFrame(capitais)
df = df[df['População (milhoes)'].notna()]
filtro = df[(df['População (milhoes)']>'1')]['Capital']
filtro

2         Manaus
3          Belém
4    Porto Velho
6         Palmas
Name: Capital, dtype: object

d) O DataFrame possuí alguma coluna com valor nulo?

In [40]:
import pandas as pd
import numpy as np
capitais = {
'Estado': {0: 'Acre', 1: 'Amapá', 2: 'Amazonas', 3: 'Pará', 4: 'Rondônia', 5: 'Roraima', 6: 'Tocantins',7:'Minas Gerais'},
'Sigla': {0: 'AC', 1: 'AP', 2: 'AM', 3: 'PA', 4: 'RO', 5: 'RR', 6: 'TO', 7:'MG'},
'População (milhoes)': {0: '0.8035', 1: '0.776', 2: '3.9', 3: '8,1', 4: '1.7', 5: '0.505', 6: '1,5', 7: np.nan}, 
'Capital': {0: 'Rio Branco', 1: 'Macapá', 2: 'Manaus', 3: 'Belém', 4: 'Porto Velho', 5: 'Boa Vista', 6: 'Palmas',7: 'Belo Horizonte'}}
df = pd.DataFrame(capitais)
print(df.isna().sum())

Estado                 0
Sigla                  0
População (milhoes)    1
Capital                0
dtype: int64

e) Qual é a média da população do DataFrame?

In [49]:
import pandas as pd
import numpy as np
capitais = {
'Estado': {0: 'Acre', 1: 'Amapá', 2: 'Amazonas', 3: 'Pará', 4: 'Rondônia', 5: 'Roraima', 6: 'Tocantins',7:'Minas Gerais'},
'Sigla': {0: 'AC', 1: 'AP', 2: 'AM', 3: 'PA', 4: 'RO', 5: 'RR', 6: 'TO', 7:'MG'},
'População (milhoes)': {0: '0.8035', 1: '0.776', 2: '3.9', 3: '8,1', 4: '1.7', 5: '0.505', 6: '1,5', 7: np.nan}, 
'Capital': {0: 'Rio Branco', 1: 'Macapá', 2: 'Manaus', 3: 'Belém', 4: 'Porto Velho', 5: 'Boa Vista', 6: 'Palmas',7: 'Belo Horizonte'}}
df = pd.DataFrame(capitais)
df = df[df['População (milhoes)'].notna()]
df['População (milhoes)'] = pd.to_numeric(df['População (milhoes)'].str.replace(',', '.'))
mean = df['População (milhoes)'].mean()
print("Média da coluna 'População (milhoes)': ", mean)

Média da coluna 'População (milhoes)':  2.469214285714286